.class-card {
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.class-card-body {
    padding: 2rem !important;
}

.more-class-info {
    color: #673ab7;
}

.more-class-info:hover {
    color: #8561c5;
    cursor: pointer;
}

.star-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.star {
    cursor: pointer;
    color: #673ab7;
}